*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #daf7dc;
    --text-color: #336699;
    --secondary-color: #86bbd8 ;
    --support-color: #2f4858 ;
    

}    
body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);

}
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--support-color);
    width: 100%;
    position: fixed;
}
.logo{
    font-size: 50px;
    text-decoration: none;
    color: var(--bg-color);
    font-family: Dancing Script,cursive;
    
}
nav a{
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.3s ease-in-out;
    font-size: 1.3rem;
    padding-right: 20px;    
}
nav a:hover{
    color: var(--text-color);

}
nav a.active{
    color: white;
}
section{
    min-height: 100vh;
    padding: 3rem;
    scroll-margin-top: 3rem;
}
.about{
    display: flex;
    justify-content: left;
    align-items: center;
   
}
.about-bio1 img{
    max-width: 30vh;
    max-height: 30vh;
    border-radius: 100%;
    box-shadow: 0 0 3rem var(--support-color);
}
.about-name{
    font-size: medium;
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
    margin: 1rem;
}
.about-bio2{
    padding: 3rem;
}
.experience{
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
}
span{
    color: var(--support-color);
}
.btn a{
    margin: 2rem;
    padding: 1rem 2rem;
    display: inline-block;
    justify-content: center;
    text-align: center;
    background-color: var(--support-color);
    border-radius: 30%;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--bg-color);
    transition: 0.5s ease-in;
    
}
.about-bio1 .about-link{
    margin-left: 3rem;
    font-size: 2rem;
}
i{
    font-size: 1.2rem;
     
}
.btn a:hover{
    transform: scale(1.05);
    color: var(--secondary-color);
    
} 
.skills ul{
    display: block;
    list-style-type: disc;
}
.skills ul li{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}
.skills ul li .pgm-lag{
    font-size: 1rem;
    font-style: italic;
    padding-top: 0.5rem;
}

.div-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    align-items: start;
}
.div-grid > div:first-child{
    grid-row: span 2;
}
.div-grid > div:nth-child(2){
    grid-column: 2;
    grid-row: 1;
}
.div-grid > div:nth-child(3){
    grid-column: 2;
    grid-row: 2;
}
.pgm-lag{
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    color: var(--secondary-color);
    padding-top: 0.3rem;
}
.skill-img img{
    width: 80%;
    height: 70%;
    display:block;
    border-radius: 8px;
    object-fit: cover;
}
.edu{
    background: var(--secondary-color);
    margin-top: 1.5rem;
    padding: 0.5rem 3rem;
    box-shadow: 0 0 1rem var(--support-color);
}
.edu:hover{
    transform: scale(1.02) ;
}
.edu .degree{
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
}
.degree span{
    font-size: 1rem;
    font-weight: lighter;
}
.edu .uni-name{
    font-weight: bold;
}
.proj{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;

}
.project{
    border: var(--support-color) solid;
    border-radius: 0.2%;
    padding:1rem;
    transition:0.3s ease-in-out;
}
.project:hover{
    transform: scale(1.05);
}
.prj-image img{
    width: 100%;
    height: auto;
}
.project .prj-title{
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.project .prj-description{
    color: var(--support-color);
    margin-bottom: 1.5rem;
}
.project .prj-lang{
    font-style: italic;
    font-size: 1.5rem;
}
.prj-lang i{
    font-size: 1.5rem;
    color:var(--text-color);
}
.project-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-3 .prj-description{
    border-radius: 50%;
    background-color: var(--support-color);
    border: var(--secondary-color) solid;
    padding: 1rem;
    cursor: pointer;
    font-size: 3rem;
    color: var(--secondary-color);
}
.git-link{
    background-color: var(--secondary-color);
    font-size: 1.5rem;
    border-radius: 50%;
}